html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Bold.otf');
  font-weight: bolder;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Md.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Md.otf');
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Light.otf');
  font-weight: lighter;
}


body {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(20,20,20);
  margin: 0;
  padding: 0;
  box-sizing: border-box
  font-weight: normal;
  background-color: rgb(253,255,255);
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
  margin: 0;
  font-style: normal;
  font-variant: normal;
  margin: 2px;
}

#sidebar a, #sidebar a:visited, #sidebar a:link, #sidebar a:hover, #sidebar a:active {
  text-decoration: none;
  color: white;
}

#sidebar a:hover {
  color: rgb(235,235,235);
}

h2 {
  font-size: 35px;
  font-weight: lighter;
  margin: 20px 20px 40px 0px;
  color: rgb(130,130,130);
  color: #22A39F;
  color:rgb(75,115,85);
}


/* navigation */
#sidebar {
  position: fixed;

  height: 100%;
  width: 306px;

  float:left;
  top: 0;
  z-index: 10000;

  background-color:rgb(75,115,85);
}

#photo-contact {
  padding: 22px;
}

#title {
  font-size: 35px;
  font-weight: lighter;
  margin: 30px 0px 10px 0px;
}

#sidebar hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(74, 144, 226);
  border-top: 1px solid white;
}

#photo {
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid white;
}

#contact h2 {
  display: block;
}
#sidebar #contact span, #sidebar #contact span a, 
#sidebar #contact span a:visited, 
#sidebar #contact span a:active, 
#sidebar #contact span a:link {
  color: rgb(225,185,160); 
}

#sidebar #contact span a:hover {
  color: rgb(240,200,175); 
}

#navigation ul {
  padding: 0;
}

nav {
  padding: 22px;
  padding-right: 0;
}

nav.stick {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: 1px solid rgb(240,200,175); 
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  background-color:rgb(75,115,85);
}

.nav-link-short {
  display: none;
}

#navigation li {
  list-style: none;
}

#navigation nav li {
  margin-top: 15px;
}


/* content */
#content-container {
  display: block;
  width: calc(100% - 306px);
  float:right;
}

#content {
  display: block;
  align-self: center;
  width: 620px;
  margin: auto;
}

#content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}

section {
  margin-bottom: 60px;
}

.subsection {
  display: block;
}

.subsection-header {
  display: inline-block;
  width: 100%;
}

.subsection-title {
  font-weight: bold;
}


.subsection-region {
  margin-top: 5px;
}

.subsection-region span{
  margin-right: 10px;
  font-weight: bold;
}

.subsection-region + .subsection-region {
  margin-top: 12px;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
  color: rgb(60,60,60);
}

.subsection-thumbnail {
  width: 100px;
  float: left;
  margin-left: -100px;
  -webkit-transition-property: opacity; /* Safari */
  transition-property: opacity;
  transition: opacity 0.5s;
}

.subsection + .subsection {
  margin-top: 40px;
}

.subsection a, .subsection a:active, .subsection a:link, .subsection a:visited, .subsection a:hover {
  color: rgb(74, 144, 226);
  font-weight: bolder;
  text-decoration: none;
}

.subsection-footer {
  margin-top: 10px;
}

.toggle-expand {
  display: none;
}

.toggle-expand-label {
  color: rgb(74, 144, 226);
  font-weight: bold;
  cursor: pointer;
}

.toggle-expand-label:hover, .subsection a:hover  {
  color: rgb(34, 114, 196);
}

.expandable {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition-property: height; /* Safari */
  transition-property: max-height;
  transition: max-height 0.8s;
}

.toggle-expand:checked ~ .expandable {
  max-height: 340px;
}

.toggle-expand:checked ~ .toggle-expand-label img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
     -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;

}

.block-items-list div {
  margin-top: 10px;
}

.block-items-list label {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  margin: 3px 2px 4px 0px;
}

#computer-science label, #computer-skills label {
  background-color: rgb(142,190,153);
}

#cognitive-science label, #interests label {
  background-color: rgb(142,178,185);
}

#computer-science-uw label {
  background-color: rgb(172,172,202);
}

/* footer */
footer {
  display: block;
  width: 100%;
  height: 305px;
  background-color: rgb(225,220,205);
}
#footer-content {
  width: 620px;
  margin: auto;
  padding-top: 40px;
}
.footer-contact {
  display: inline-block;
  margin-bottom: 14px;
  width: 290px;
  overflow: hidden;
}
.footer-contact label {
  display: block;
}

/* screen sizes */
@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .subsection-thumbnail {
    opacity: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  .subsection-thumbnail {
    opacity: 100%;
  }
}

@media screen and (max-width: 900px) {
  .subsection-thumbnail {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  
  #sidebar {
    display: block;
    width: 100%;
    height: 204px;
    position: initial;
  }

  #photo-contact {
    padding-bottom: 0;
  }

  #sidebar hr {
    display: none;
  }

  #photo {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 0;
    display: inline-block;
  }

  #contact {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }

  #content-container {
    width: 100%;
  }

  #content {
    min-width: 600px;
    margin: auto;
    padding-left: 25px;
  }

  .toggle-expand:checked ~ .expandable {
    max-height: 780px;
  }

  #navigation {
    align-content: center;
  }

  #navigation ul {
    display: inline-block;
    margin: auto;
    margin-top: 0;
  }

  #navigation li {
    display: inline-block;
    margin-right: 20px;
  }

  nav {
    padding: 0px 0px 12px 12px;
  }
}

@media screen and (max-width: 800px) {
  #navigation {
    position: initial;
  }

  #content-container {
    width: 100%;
  }

  #content {
    padding-left: 20px;
  }

  .nav-link-long {
    display: none;
  }
  .nav-link-short {
    display: inline-block;
  }
}

/* devices */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
  #html, body {
    font-family: 'Roboto', sans-serif;
  }
  #sidebar {
    height: 218px;
  }
  #title {
    margin-top: 8px;
    font-size: 52px;
  }

  #contact span, #contact span a {
    font-size: 32px;
  }

  nav {
    font-size: 20px;
    padding-left: 30px;
  }

  .nav-link-long {
    display: none;
  }
  .nav-link-short {
    display: inline-block;
  }

  .nav-link-short {
    font-size: 30px;
  }

  #content-container {
    display: block;
    width: 100%;
    padding: 0;
  }

  #content hr {
    border-top: 4px solid rgb(230, 230, 230);
  }

  #content, #footer-content {
    display: block;
    width: 90%;
    font-size: 38px;
    padding-left: 0;
  }

  .toggle-expand:checked ~ .expandable {
    max-height: 1000px;
  }

  h2 {
    font-size: 52px;
  }
  .left {
    display: block;
    width: 100%
  }
  .right {
    display: none;
  }

  .toggle-expand-label img, .subsection-footer a img{
    min-height: 28px;
  }

  footer {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  .footer-contact {
    width: 100%;
  }

  .subsection-thumbnail {
    opacity: 0;
  }
}