@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Md.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeueeTextPro-Light.otf');
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(20,20,20);
  margin: 0;
  padding: 0;
  box-sizing: border-box
  font-weight: normal;
  background-color: rgb(253,255,255);
  /*background-color: rgb(255,245,225); nice compliment but might be overdesigned*/
  /*background-color: rgb(255,254,250); more subtle version of above*/
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
  margin: 0;
  font-style: normal;
  font-variant: normal;
  margin: 2px;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 35px;
  font-weight: lighter;
  margin: 20px 20px 40px 0px;
  color: rgb(130,130,130);
  color: #22A39F;
}


/* navigation */
#sidebar {
  position: fixed;

  height: 100%;
  width: 306px;

  float:left;
  top: 0;
  z-index: 10000;

  background-color:rgb(71,179,156);
}

#photo-contact {
  padding: 22px;
}

#title {
  font-size: 35px;
  font-weight: lighter;
  margin: 30px 0px 10px 0px;
  color: rgb(103,103,103);
}

#sidebar hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(74, 144, 226);
  border-top: 1px solid white;
}

#photo {
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 4px solid white;
}

#contact h2 {
  display: block;
}
#contact span, #contact span a{
  /*font-style: italic;*/
  color: rgb(0,84,61);
  color: rgb(0,80,55);
}

#navigation ul {
  padding: 0;
}

nav {
  padding: 22px;
  padding-right: 0;
}

nav.stick {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color:rgb(71,179,156);
  border-bottom: 1px solid rgb(51,159,136);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

#navigation li {
  list-style: none;
}

#navigation nav li {
  margin-top: 15px;
}


/* content */
#content-container {
  display: block;
  width: calc(100% - 306px);
  float:right;
}

#content {
  display: block;
  align-self: center;
  width: 620px;
  margin: auto;
}

#content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}

section {
  margin-bottom: 60px;
}

.subsection {
  display: block;
}

.subsection-header {
  display: inline-block;
  width: 620px;
}

.subsection-title {
  font-weight: bold;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
  color: rgb(60,60,60);
}

.subsection-thumbnail {
  width: 100px;
  float: left;
  margin-left: -100px;
  -webkit-transition-property: opacity; /* Safari */
  transition-property: opacity;
  transition: opacity 0.5s;
}

.subsection + .subsection {
  margin-top: 40px;
}

.subsection a {
  color: rgb(74, 144, 226);
  font-weight: bolder;
}

.subsection-footer {
  margin-top: 10px;
}

.toggle-expand {
  display: none;
}

.toggle-expand-label {
  color: rgb(74, 144, 226);
  font-weight: bolder;
  cursor: pointer;
}

.expandable {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition-property: height; /* Safari */
  transition-property: max-height;
  transition: max-height 0.8s;
}

.expandable div {
  margin-top: 10px;
}

.toggle-expand:checked ~ .expandable {
  max-height: 340px;
}

.toggle-expand:checked ~ .toggle-expand-label img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
     -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;

}

.course-list label {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  margin: 3px 2px 4px 0px;
}

#computer-science label {
  background-color:rgb(101,209,222);
}

#cognitive-science label {
  background-color:rgb(101,239,176);
}

#computer-science-uw label {
  background-color:rgb(161,179,252);
}

.hackathon {
  margin-top: 5px;
}

.hackathon span{
  margin-right: 10px;
}
/* footer */
footer {
  display: block;
  width: 100%;
  height: 300px;
  background-color:rgb(5,109,110); /* Teal */
  background-color:rgb(45,64,95); /* Dark Blue */
  background-color:rgb(0,70,75); /* Dark Teal */
  background-color:rgb(220,235,235); /* Light Muted Teal */
}
#footer-content {
  width: 620px;
  margin: auto;
  padding-top: 40px;
}
.footer-contact {
  display: inline-block;
  margin-bottom: 10px;
  width: 290px;
  overflow: hidden;
}
.footer-contact label {
  display: block;
}

/* screen sizes */
@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .subsection-thumbnail {
    opacity: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  .subsection-thumbnail {
    opacity: 100%;
  }
}

@media screen and (max-width: 900px) {
  .subsection-thumbnail {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  #sidebar {
    display: block;
    width: 100%;
    height: 204px;
    position: initial;
  }

  #photo-contact {
    padding-bottom: 0;
  }

  #sidebar hr {
    display: none;
  }

  #photo {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 0;
    display: inline-block;
  }

  #contact {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }

  #content-container {
    width: 100%;
  }

  #content {
    min-width: 600px;
    margin: auto;
    padding-left: 25px;
  }

  #navigation {
    align-content: center;
  }

  #navigation ul {
    display: inline-block;
    margin: auto;
    margin-top: 0;
  }

  #navigation li {
    display: inline-block;
    margin-right: 20px;
  }

  nav {
    padding: 0px 0px 12px 12px;
  }
}

@media screen and (max-width: 800px) {
  #navigation {
    position: initial;
  }

  #content-container {
    width: 100%;
  }

  #content {
    padding-left: 20px;
  }
}

/* content */
